:root {
  --back-color: #2f303a;
  --second-back-color: #e5e5e5;
  --third-back-color: #f5f4fa;
  --text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: #000000;
  --decor-color: #2196f3;
  --second-decor-color: #188ce8;
}
body {
  color: var(--text-color);
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*Шапка сайта*/
.page-header .logo-color {
  color: var(--decor-color);
}
.page-header .logo {
  color: var(--fourth-text-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link-btn {
  color: var(--text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link-btn:hover,
.site-nav .link-btn:focus {
  color: var(--decor-color);
}

.auth-nav .btn-link {
  color: var(--second-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .btn-link:hover,
.auth-nav .btn-link:focus {
  color: var(--decor-color);
}
.site-nav .current {
  color: var(--decor-color);
}
.site-nav{
  display: flex;
  padding: 0;
}
.site-nav .link:not(:last-child){
  padding-right: 50px;
}

.site-nav .link-btn{
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav:first-child{
  margin-left: 93px;
}
.auth-nav{
  display: flex;
}
.auth-nav .link:not(:last-child){
  padding-right: 50px;
}

.auth-nav{
  padding-left: 0;
  margin-left: auto;
}
.navigation{
  display: flex;
  align-items: center;
}
/*Секция герой*/
.hero {
  background-color: var(--back-color);
  text-align: center;
  width: 1600px;
  height: 600px;
}
.hero .hero-title {
  color: var(--third-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .btn-hero {
  color: var(--third-text-color);
  background-color: var(--decor-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
}
.hero .btn-hero:hover,
.hero .btn-hero:focus {
  background-color: var(--second-decor-color);
}
/*Секция особенности*/
.caption .caption-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.caption .caption-titles {
  color: var(--text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.caption .caption-text {
  color: var(--second-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*Секция чем мы занимаемся*/
.work .work-title {
  color: var(--text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/*Секция наша команда*/
.team {
  background-color: var(--third-back-color);
}
.team .team-title {
  color: var(--text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team .workers {
  color: var(--text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team .position {
  color: var(--second-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*Футер*/
.footer {
  background-color: var(--back-color);
}
.footer .footer-log {
  color: var(--decor-color);

  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer .footer-logo {
  color: var(--third-text-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer .map {
  color: var(--third-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--decor-color);
}

/*ПОРТФОЛИО*/

.header-page{
  border-bottom: 1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-portfolio .link {
  background-color: #f5f4fa;
  color: var(--text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.main-portfolio .link:hover,
.main-portfolio .link:focus {
  background-color: var(--decor-color);
  color: var(--third-text-color);
}
.main-portfolio .title {
  color: var(--text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.main-portfolio .post-title {
  color: var(--second-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}
.main-portfolio .decoration {
  text-decoration: none;
}
.main-portfolio .current {
  background-color: var(--decor-color);
  color: var(--third-text-color);
}